<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #051937">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #fff">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mainContent">
    <div class="about-card">
      <h1>About Us</h1>
      <p>
        We are IT professionals building high-quality free applications. This
        app currently provides key conversion calculators, with more tools
        planned for future updates. Our goal is to make everyday calculations
        simple, fast, and accessible to everyone.
      </p>
    </div>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar style="background-color: #051937"></ion-toolbar>
</ion-footer>
