<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #051937">
    <ion-title style="color: #fff"> Conversion Calculator </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <div id="mainContent">
    <div class="mainContainer">
      <div class="home-card">
        <h1>Convert Units Quickly</h1>
        <p>
          Open the conversion workspace to switch between units for length,
          temperature, area, volume, mass, speed, frequency, time, pressure, and
          energy.
        </p>
        <ion-button
          [routerLink]="['/conversion']"
          [state]="{ fromHome: true }"
          expand="block"
          size="default"
        >
          Open Converter
        </ion-button>
        <p class="hint-text">
          Tip: Use the back button in the converter to return here.
        </p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar style="background-color: #051937">
    <ion-buttons slot="end">
      <ion-button fill="clear" class="footer-link" routerLink="/about"
        >About Us</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
